Repository jaseci-labs/jaseci, pull requests merged in 2025-02, with the labels that each got.

#1543 Modify Parser Functions for Imports, Architypes, and Enums
  jac/jaclang/compiler/parser.py
Labels: jaclang, refactor, ready to merge

#1546 [Parser-Refactor] Modify Parser Functions for ability, if and try
  jac/jaclang/compiler/parser.py
Labels: jaclang, refactor, ready to merge

#1551 fix warning jac tool gen_parser
  jac/jaclang/utils/helpers.py
Labels: ready to merge

#1529 [Parser] match, consume methods added
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/tests/test_parser.py
Labels: jaclang, refactor, ready to merge

#1522 [Lark-PR-1] lark tokens are grouped
  jac/jaclang/compiler/jac.lark
  jac/jaclang/utils/helpers.py
  jac/support/jac-lang.org/docs/lang_ref/jac_ref.md
Labels: jaclang, refactor, ready to merge

#1550 [Parser-Refactor] Modify Statement functions
  jac/jaclang/compiler/parser.py
Labels: jaclang, refactor, ready to merge

#1570 [Parser-Refactoring] - 4th PR
  jac/jaclang/compiler/parser.py
Labels: ready to review, jaclang, refactor

#1568 Refactor Jaclang reference functions in parser
  jac/jaclang/compiler/parser.py
Labels: ready to review, jaclang, refactor

#1523 [Lark-PR-2] Module rule simplified
  jac/jaclang/compiler/constant.py
  jac/jaclang/compiler/jac.lark
  jac/jaclang/compiler/parser.py
  jac/support/jac-lang.org/docs/lang_ref/jac_ref.md
Labels: jaclang, refactor, ready to merge

#1586 [SubnodeList-Remove] Removed from while stmt body
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
  jac/jaclang/compiler/passes/main/pyast_load_pass.py
  jac/jaclang/compiler/passes/tool/jac_formatter_pass.py
  jac/jaclang/tests/test_language.py
Labels: jaclang, refactor

#1587 [SubnodeList-Remove] Removed from except
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
  jac/jaclang/compiler/passes/main/pyast_load_pass.py
  jac/jaclang/compiler/passes/tool/jac_formatter_pass.py
  jac/jaclang/compiler/passes/tool/tests/test_unparse_validate.py
  jac/jaclang/tests/test_language.py
Labels: jaclang, refactor

#1477 jaclib
  jac-cloud/jac_cloud/core/architype.py
  jac-cloud/jac_cloud/core/context.py
  jac-cloud/jac_cloud/jaseci/routers/sso.py
  jac-cloud/jac_cloud/jaseci/routers/user.py
  jac-cloud/jac_cloud/plugin/cli.py
  jac-cloud/jac_cloud/plugin/jaseci.py
  jac-cloud/jac_cloud/tests/openapi_specs.yaml
  jac-mtllm/mtllm/plugin.py
  jac/examples/reference/architypes.jac
  jac/examples/reference/architypes.py
  jac/examples/reference/builtin_types.py
  jac/examples/reference/check_statements.py
  jac/examples/reference/data_spatial_walker_statements.py
  jac/examples/reference/disengage_statements.py
  jac/examples/reference/match_class_patterns.py
  jac/examples/reference/special_comprehensions.py
  jac/examples/reference/visit_statements.py
  jac/jaclang/__init__.py
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/constant.py
  jac/jaclang/compiler/passes/main/fuse_typeinfo_pass.py
  jac/jaclang/compiler/passes/main/import_pass.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
  jac/jaclang/compiler/passes/main/tests/test_type_check_pass.py
  jac/jaclang/plugin/builtin.py
  jac/jaclang/plugin/default.py
  jac/jaclang/plugin/feature.py
  jac/jaclang/plugin/spec.py
  jac/jaclang/plugin/tests/fixtures/graph_purger.jac
  jac/jaclang/plugin/tests/fixtures/other_root_access.jac
  jac/jaclang/plugin/tests/fixtures/savable_object.jac
  jac/jaclang/plugin/tests/test_jaseci.py
  jac/jaclang/runtimelib/architype.py
  jac/jaclang/runtimelib/context.py
  jac/jaclang/settings.py
  jac/jaclang/tests/fixtures/create_dynamic_architype.jac
  jac/jaclang/tests/test_language.py
  jac/jaclang/tests/test_reference.py
Labels: jaclang

#1589 Exclude MyPy cache files
  .gitignore
Labels: ready to merge

#1608 subnode list removed from for in loop
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
  jac/jaclang/compiler/passes/main/pyast_load_pass.py
  jac/jaclang/compiler/passes/tool/jac_formatter_pass.py
  jac/jaclang/tests/test_language.py
Labels: ready to review, jaclang, refactor

#1574 Fixing a crash due to complex base class expressions not supported
  jac/jaclang/compiler/passes/main/inheritance_pass.py
  jac/jaclang/tests/fixtures/base_class_complex_expr.jac
  jac/jaclang/tests/test_cli.py
Labels: ready to review

#1578 [Parser-Refactor]-PR5
  jac/jaclang/compiler/parser.py
Labels: ready to review, jaclang, refactor

#1582 [Parser-Refactoring] - 8th PR
  jac/jaclang/compiler/parser.py
Labels: jaclang, refactor, ready to merge

#1581 [Parser-Refactor]-PR6
  jac/jaclang/compiler/parser.py
Labels: ready to review, jaclang, refactor
