Repository jaseci-labs/jaseci, pull requests merged in 2025-03, with the labels that each got.

#1626 Subnodelist removed from MatchArch
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
  jac/jaclang/compiler/passes/main/pyast_load_pass.py
  jac/jaclang/compiler/passes/tool/jac_formatter_pass.py
Labels: jaclang

#1621 SubNodelist removed from visit stmt
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
  jac/jaclang/compiler/passes/tool/jac_formatter_pass.py
Labels: ready to review, jaclang

#1617 Subnodelist removed from filtercompr
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
  jac/jaclang/compiler/passes/tool/jac_formatter_pass.py
Labels: ready to review, jaclang

#1607 [SubnodeList-Remove] Removed from Try statement
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
  jac/jaclang/compiler/passes/main/pyast_load_pass.py
  jac/jaclang/compiler/passes/tool/jac_formatter_pass.py
  jac/jaclang/compiler/passes/tool/tests/fixtures/myca_formatted_code/try_block_and_walker_spawn_and_fstrings.jac
  jac/jaclang/tests/test_language.py
Labels: ready to review, jaclang, refactor

#1632 SubNodeList removed from TypedCtxBlock
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
Labels: ready to review

#1637 SubNodeList removed from Import
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/passes/main/import_pass.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
  jac/jaclang/compiler/passes/main/pyast_load_pass.py
  jac/jaclang/compiler/passes/main/sym_tab_build_pass.py
  jac/jaclang/compiler/passes/tool/jac_formatter_pass.py
  jac/jaclang/tests/test_language.py
Labels: ready to review

#1633 Remove SubNodeList from Assignment
  .github/workflows/test-jaclang.yml
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/passes/main/def_use_pass.py
  jac/jaclang/compiler/passes/main/fuse_typeinfo_pass.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
  jac/jaclang/compiler/passes/main/pyast_load_pass.py
  jac/jaclang/compiler/passes/main/registry_pass.py
  jac/jaclang/compiler/passes/main/sym_tab_build_pass.py
  jac/jaclang/compiler/passes/main/tests/fixtures/mod_type_assign.jac
  jac/jaclang/compiler/passes/tool/jac_formatter_pass.py
  jac/jaclang/tests/test_language.py
Labels: ready to review

#1631 SubNodeList removed from GlobalVars
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
Labels: ready to review

#1598 [GlobalStmt] Removing subnodelist from GlobalStmt
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
  jac/jaclang/compiler/passes/main/pyast_load_pass.py
  jac/jaclang/compiler/passes/main/pyjac_ast_link_pass.py
Labels: ready to review, jaclang, refactor

#1635 Remove SubNodeList from If Elif Else statements
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
  jac/jaclang/compiler/passes/main/pyast_load_pass.py
  jac/jaclang/compiler/passes/tool/jac_formatter_pass.py
  jac/jaclang/tests/test_language.py
Labels: ready to review

#1630 SubNodeList removed from AssignCompr
  jac/jaclang/compiler/absyntree.py
  jac/jaclang/compiler/parser.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
Labels: ready to review

#1603 Global root removed and root() returns the ctx root.
  jac/jaclang/__init__.py
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
  jac/jaclang/runtimelib/context.py
Labels: ready to review, P0, jaclang

#1580 [Parser-Refactoring] - 7th PR
  jac/jaclang/compiler/parser.py
Labels: jaclang, refactor, ready to merge

#1628 A bug in targ argument of jaclib Node.refs() fixed
  jac/jaclang/compiler/passes/main/pyast_gen_pass.py
  jac/jaclang/tests/fixtures/refs_target.jac
  jac/jaclang/tests/test_language.py
Labels: bug, ready to review

#1662 Py Ref root() issue fixed
  jac/examples/reference/connect_expressions.py
  jac/examples/reference/data_spatial_calls.py
  jac/examples/reference/data_spatial_references.py
  jac/examples/reference/data_spatial_spawn_expressions.py
  jac/examples/reference/data_spatial_typed_context_blocks.py
  jac/examples/reference/data_spatial_walker_statements.py
  jac/examples/reference/disengage_statements.py
  jac/examples/reference/ignore_statements.py
  jac/examples/reference/visit_statements.py
Labels: ready to review, jaclang

#1644 Added colors to nodes in visualizing jac AST
  jac/jaclang/tests/test_cli.py
  jac/jaclang/utils/tests/test_lang_tools.py
  jac/jaclang/utils/treeprinter.py
Labels: ready to review, jaclang
